@media(max-width: 1440px){
main h1{
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 400px;
  text-align: center;
  line-height: 100vh;
  font-size: 500%;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
   letter-spacing: 0.2em;
   display: none;
}

main{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom,orange,red);
  position: relative;
}

body{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

main h1 a{
  text-decoration: none;
  color: black;
  text-shadow: 4px 3px 2px silver;
  font-weight: bold;
}

#details{
  width: 55%;
  top: 34%;
  position: absolute;
  left: 22%;
  display: none;
}

#details ul{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: slategray;
  border-radius: 30px;
}

#details ul li{
  list-style: none;
  width: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
}

#details a{
  text-decoration: none;
  color: black;
  opacity: 0.6;
}

#details a:hover{
  opacity: 1.0;
}

.miss{
  display: none;
}

.about{
  position: absolute;
  top: 0;
  width: 400px;
  height: 280px;
  background-color: seashell;
  display: flex;
  border-radius: 20px;
}

.about h2{
  margin-left: 0;
  margin-right: 0;
  font-size: 18px;
  height: 20%;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.about p{
  font-size: 10px;
  width: 250px;
  padding-top: 30px;
}

.about img{
  width: 100%;
}

.me{
  width: 34%;
}

.sns {
  position: absolute;
  left: 200px;
  top: 600px;
  background-color: white;
  border-radius: 20px;
  width: 300px;
  height: 150px;
  display: none;
}

.sns ul{
  padding-left: 0;
  padding-top: 18px;
}

.sns ul li{
  font-size: 30px;
  text-align: center;
  padding-left: 0;
  list-style: none;
}

.sns ul li a{
  text-decoration: none;
  color: black;
  opacity: 0.7;
}

.sns ul li a:hover{
  opacity: 1.0;
}

.skill{
  background-color: white;
  position: absolute;
  top: 80px;
  right: 60px;
  width: 400px;
  text-align: center;
  border-radius: 20px;
  display: none;
}

.skill ul li{
  width: 130px;
  text-align: left;
}

.skill ul{
  margin-left: 50px;
}

.background{
  position: absolute;
  top: 520px;
  right: 100px;
  background-color: white;
  border-radius: 20px;
  width: 590px;
  display: none;
}

.background h3{
  padding-left: 15px;
}

.background p{
  padding-left: 15px;
}

.noname{
  background-color: white;
  position: absolute;
  width: 400px;
  height: 300px;
  top: 40px;
  border-radius: 20px;
  left: 400px;
  display: none;
}

.noname img{
  width: 40%;
  margin-left: 30px;
}

.contact textarea{
  resize: none;
  width: 250px;
  height: 100px;
}

.contacts{
  width: 450px;
  background-color: white;
  position: absolute;
  top: 300px;
  left: 440px;
  border-radius: 20px;
  display: none;
}

.contact p{
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  text-align: right;
}

.contact{
  text-align: right;
  padding-right: 40px;
  padding-left: 30px;
}


}
